.imagem {
    position: relative;
    margin-top: 20px;
}

.frase {
    background-color: antiquewhite;
    border: solid 10px black;
    border-radius: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
    
}


  